.header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.title{
    font-size:17pt;
    text-decoration: none;
    /* display: table-caption; */
}
.navbar{
}
.navbar a{
    text-decoration: none;
    font-size: 14pt;
    margin-left: 16px;
}
body{
    font-family: Verdana, Geneva, sans-serif;
}
.center-div{
    margin: auto;
    max-width: 700px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}
p,ul{
    font-size: 14pt;
    line-height: 25px;
}
.fine-print{
    font-size: 12pt;
}
img, .video{
    max-width:480px;
    max-height:auto;
    border: 1px solid black;
}
@media (max-width: 480px) {
    img, .video{
        width:100%;
        max-height:auto;
    }
}
.dlbutton{
    display:inline-block;
    background-color:#c2ff2d;
    color:black;
    border-style: solid;
    border-width: 5px;
    border-color: #65ac04;
    border-radius: 10px;
    padding: 16px 20px;
    margin-bottom: 12px;
    font-size: 21pt;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}
.newsletter{
    display:inline-block;
    background-color:#c2ff2d;
    color:black;
    border-style: solid;
    border-width: 3px;
    border-color: #65ac04;
    border-radius: 10px;
    padding: 16px 20px;
    margin-bottom: 12px;
}

/*
https://stackoverflow.com/questions/5067279/how-to-align-this-span-to-the-right-of-the-div

    color: black;

    color:white;

.header{
    background-color: #65ac04;
}

    background-color: #c2ff2d;

    background-color: #65ac04;

    background-color: #727272;

    background-color: #f2f2f2;

h1,h2,h3,h4{
    color: #595959;
}

*/
