<h1>Well-being Practice Journal</h1>

<p>Well-being Diary is a desktop application which aims to gently support the user in her development and increase well-being</p>

<a href="_img/whole-application.png">
<img src="_img/whole-application.png">
</a>
<br>
<small>Click on the image for a full-size image</small>

<h2>Features</h2>
There are three important parts of the application: Diary entries, tags, and questions

<h3>Diary Entries</h3>

<p>Entries can be written for a specific time of day or for the whole day</p>

<img src="_img/entries.png">

<h3>Tags</h3>

<p>Entries can have tags. Examples of tags: "mindfulness", "kindness", "gratitude"</p>

<img src="_img/tags.png">

<h3>Questions</h3>

<p>Questions can be used by the user to start writing. A question might be "What am I grateful for today?"</p>

<img src="_img/questions.png">


<!--

<ul>
    <li></li>
    <li></li>
    <li></li>
    <li>Entries can have an image (scaled down significantly when importing)</li>
</ul>

filters

<h2>Screenshots</h2>

<p></p>

-->

